.details-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.details-category {
  align-items: center;
  color: darkgrey;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin: -20px 0 0;
  padding-bottom: 20px;
  width: 100%;
}

.details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-instructions {
  padding: 20px;
}

.details-container, .details-category {
  background-color: #fefefe;
}

.recommendations-wrapper {
  align-items: center;
  display: flex;
  height: 20rem;
  justify-content: flex-start;
  margin: 0 auto 40px;
  max-width: 360px;
  overflow-y: scroll;
}

.details-img {
  max-width: 100vw;
  position: fixed;
  top: 0;
  z-index: -1;
}

.details-video {
  margin: 0 10px 30px;
  zoom: 0.55;
}

.recommendations-wrapper div {
  height: 14rem;
  margin: 10px;
  width: 160px;
}

.details-begin-recipe {
  bottom: 0;
  position: fixed;
}

.copied-message {
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--main-green);
  border-radius: 5px;
  color: #212121;
  display: flex;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  top: 10px;
  width: 180px;
}

.copied-message p {
  margin: 0;
}

.link-show {
  animation: show 1s ease-in-out forwards;
}

@keyframes show {

  from {
    opacity: 0;
    top: -50px;
  }

  to {
    opacity: 1;
    top: 10px;
  }
}

.link-hide {
  animation: hide 1s ease-in-out forwards;
}

@keyframes hide {

  from {
    opacity: 1;
    top: 10px;
  }

  to {
    opacity: 0;
    top: -50px;
  }
}

.details-wrapper a {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.details-fav-share {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 80px;
}

.details-title {
  align-items: center;
  background-color: #fefefe;
  border-radius: 40px 40px 0 0;
  display: flex;
  font-size: 28px;
  height: 80px;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 320px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}
