.details-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.details-category {
  align-items: center;
  color: darkgrey;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin: -15px 0 0;
  padding-bottom: 20px;
  width: 100%;
}

.details-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
}

.details-instructions {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 30px;
  padding: 20px;
  text-align: justify;
}

.details-container, .details-category {
  background-color: #fefefe;
}

.recommendations-wrapper {
  align-items: center;
  display: flex;
  height: 20rem;
  justify-content: flex-start;
  margin: 0 auto 60px;
  max-width: 360px;
  overflow-y: scroll;
}

.details-img {
  max-width: 100vw;
  position: fixed;
  top: 0;
  z-index: -1;
}

.details-video {
  margin: 0 10px 30px;
  zoom: 0.55;
}

.recommendations-wrapper div {
  height: 14rem;
  margin: 10px;
  width: 160px;
}

.details-begin-recipe {
  background-color: #ff416c;
  border: none;
  border-radius: 5px;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #fefefe;
  height: 40px;
  margin: 10px;
  padding: 3px 7px;
  position: fixed;
  width: 200px;
}

.details-begin-recipe:disabled {
  opacity: 0.3;
}

.copied-message {
  align-items: center;
  background: linear-gradient(to right, #1f4037, #99f2c8);
  background-color: #1f4037;
  border-radius: 5px;
  color: #fefefe;
  display: flex;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  right: 0;
  top: 10px;
  width: 180px;
}

.copied-message p {
  margin: 0;
}

.link-show {
  animation: show 1s ease-in-out forwards;
}

@keyframes show {

  from {
    opacity: 0;
    top: -50px;
  }

  to {
    opacity: 1;
    top: 10px;
  }
}

.link-hide {
  animation: hide 1s ease-in-out forwards;
}

@keyframes hide {

  from {
    opacity: 1;
    top: 10px;
  }

  to {
    opacity: 0;
    top: -50px;
  }
}

.details-wrapper a {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

.details-fav-share {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 120px;
}

.details-fav-share div {
  align-items: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.details-title {
  align-items: center;
  background-color: #fefefe;
  border-radius: 40px 40px 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 320px;
  min-height: 120px;
  padding: 0 5px 5px 10px;
  text-align: center;
  width: 100%;
}

.details-line {
  background: linear-gradient(to right, #1f4037, #99f2c8);
  background-color: #1f4037;
  border-radius: 15px;
  height: 4px;
  margin: 10px 0;
  width: 50px;
  z-index: 1;
}

.details-ingredients-wrapper, .ingredients-progress-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  width: 90%;
}

.details-ingredients-wrapper p {
  font-size: 22px;
}

.details-ingredients-wrapper ol {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  justify-content: center;
  list-style: none;
  padding-left: 1rem;
  width: 90%;
}

.details-ingredients-wrapper ol li, .ingredients-progress-wrapper div {
  background: white;
  border-radius: 0 0.5rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  counter-increment: css-counter 1;
  margin-top: 30px;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  width: 100%;
}

.ingredients-progress-wrapper div input {
  color: #fe4365;
  height: 15px;
  margin-right: 10px;
  width: 15px;
}

.ingredients-progress-wrapper div input:checked {
  animation: tick 150ms ease-in;
}

.ingredients-progress-wrapper div label {
  font-size: 18px;
  margin: 0;
}

@keyframes tick {

  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.details-ingredients-wrapper ol li:before, .details-ingredients-wrapper ol li:after {
  background: linear-gradient(to right, #1f4037, #99f2c8);
  background-color: #1f4037;
  border-radius: 1rem 1rem 0;
  content: '0';
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}

.details-ingredients-wrapper ol li:before {
  align-items: flex-end;
  color: #1d1f20;
  content: counter(css-counter);
  display: flex;
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}

.previous-button {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  left: 25px;
  position: fixed;
  text-decoration: none;
  top: 25px;
  z-index: 999;
}
