.food-categories, .drink-categories {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
}

.food-categories button, .drink-categories button {
  background-color: transparent;
  border: 2px solid #ff416c;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #ff416c;
  height: 40px;
  margin: 10px;
  padding: 3px 7px;
  width: 200px;
}

@media only screen and ( max-width : 428px ) {

  .food-categories button, .drink-categories button {
    font-size: 15px;
    height: 40px;
    margin: 10px;
    width: 150px;
  }
}

@media only screen and ( max-width : 345px ) {

  .food-categories button, .drink-categories button {
    font-size: 13px;
    height: 40px;
    margin: 10px;
    width: 130px;
  }
}
