.footer-wrapper {
  align-items: center;
  background: linear-gradient(to right, #1f4037, #99f2c8);
  background-color: #1f4037;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  height: 70px;
  justify-content: space-around;
  margin-bottom: -1px;
  position: fixed;
  width: 100vw;
}

.footer-wrapper a {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: 500ms;
  width: 70px;
}

.footer-wrapper a input {
  filter: brightness(0) invert(1);
  transition: 500ms;
}

.footer-wrapper .selected {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  background-color: #ff416c;
  border: 3px solid #fefefe;
  border-radius: 50%;
  transform: translateY(-26px);
}

@media only screen and ( max-width : 375px ) {

  .footer-wrapper input {
    width: 30px;
  }
}
