.profile-wrapper {
  align-items: center;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
  margin: auto;
  padding: 30px 5px;
  width: 300px;
}

.profile-wrapper button {
  background-color: transparent;
  border: 2px solid #ff416c;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #ff416c;
  height: 40px;
  margin: 10px;
  padding: 3px 7px;
  width: 200px;
}

.profile-wrapper p {
  font-size: 17px;
}
