@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap') ;

html {

  --main-green: #38d39f;

  --main-purple: #9d38d3;
}

* {
  box-sizing: border-box;
  font-family: Titillium Web , sans-serif;
}

body {
  overflow-x: hidden;
}
